.container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
  display: block;
}

.text-block {
  color: black;
  position: absolute;
  bottom: 2em;
  right: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
  font-size: 50px;
}
